// Экстрабольшие девайсы (большие десктопы, >= 1200px)
@media (max-width: 1268px) {
    
    
    .services__cards {
        justify-content: center;
        margin: 0 auto;
        max-width: rem-calc(950);
    }
    .services__card {
        margin: 0 auto;
        margin: rem-calc(30);
        
    }
    .services__btn{
        margin-top: rem-calc(50);
    }
}
@media (max-width: 1140px) {
    .about__card{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        img{
            margin-right: rem-calc(0);
            margin-bottom: rem-calc(30);
        }
    }
}
@media (max-width: 992px) {
 
}
@media (max-width: 700px) {
    .about__card{
        margin: 0 auto;
        img{
            width: rem-calc(500);
            height: rem-calc(300);
        }
    }
    .top-panel{
        margin-bottom: rem-calc(100);
    }
    .header__title {
        
        padding-bottom: rem-calc(100);
        
        h1 {
            font-style: normal;
            font-weight: 800;
            font-size: rem-calc(40);
            line-height: rem-calc(58);
            align-items: center;
            text-align: center;
            color: #ffffff;
            margin-bottom: rem-calc(36);
        }
    }
}
@media (max-width: 576px) {
    .buter{
        width: rem-calc(200);
        ul{
            li{
                a{
                    font-size: rem-calc(10);
                    line-height: rem-calc(10);  
                }
            }
        }
    }
    .stocks__text__block{
        
        padding-top: rem-calc(100);
    padding-left: rem-calc(81);
    padding-right: rem-calc(81);
    padding-bottom: rem-calc(81);
    max-width: rem-calc(400);
    P{
        font-size: rem-calc(9);  
    }
    }
    .submit__card{
        max-width: rem-calc(300);
    }
    .submit__card__inputs{
        max-width: rem-calc(200) ;
        
    }
    .submit__card__inputs__btn{
        text-align: center;
        margin: 0 auto;
        padding-bottom: rem-calc(80);
        a{
            font-size: rem-calc(15);
            padding: rem-calc(10) rem-calc(63) rem-calc(11) rem-calc(62); 
        }
    }
    .services__card{
        width: rem-calc(300);
            height: rem-calc(380);
       img{
        width: rem-calc(300);
        height: rem-calc(200);
       }
    }
    .about__card{
        margin: 0 auto;
        img{
            width: rem-calc(300);
            height: rem-calc(200);
        }
    }
    .header__title {
        h1 {
            font-style: normal;
            font-weight: 800;
            font-size: rem-calc(26);
            line-height: rem-calc(58);
            align-items: center;
            text-align: center;
            color: #ffffff;
            margin-bottom: rem-calc(36);
        }
    }
}

// Средние девайсы («таблетки», >= 768px)
@media (max-width: 768px) {
    .headerfixed{
        background-color: rgb(30, 30, 48);
    }
    .menu-list {
        display: none;
    }
    .phone {
        display: none;
    }
    .tpl_hamburger#sandwichmenu {
        display: block;
    }
}

// Большие девайсы (десктопы, >= 992px)


