/* PX to REM */
$global-font: 16;
@function rem-calc($size, $global-font: $global-font) {
    $remSize: $size / $global-font;
    @return #{$remSize}rem;
    }
    .buter{
        position: absolute;
        padding-top: rem-calc(10);
        padding-bottom: rem-calc(10);
        width: rem-calc(300);
        background-color:rgb(30, 30, 48);
        z-index: 5;
        ul {
            
            li {
                .active::after {
                    content: "";
                    display: block;
                    margin-top: rem-cacl(5);
                    width: 100%;
                    height: 1px;
                    background: #ffffff;
                    transition: width 0.3s;
                }
                a {
                    display: inline-block;
                    text-decoration: none;
                    font-style: normal;
                    font-weight: normal;
                    font-size: rem-calc(15);
                    line-height: 20px;
                    text-align: center;
                    color: #ffffff;
                    &::after {
                        content: "";
                        display: block;
                        margin-top: 5px;
                        width: 0;
                        height: 1px;
                        background: #ffffff;
                        transition: width 0.3s;
                    }
    
                    &:hover::after {
                        width: 100%;
                    }
                }
    
                list-style-type: none;
            }
        }
    }
    .tpl_hamburger#sandwichmenu{
        display: none;
    }
    #sandwichmenu {
        position: absolute;
        top: rem-calc(10);
        right: rem-calc(0);
        margin: 5px 0 0 0;  text-align: center;
    }
    .tpl_hamburger svg {height: 40px;width: 60px;}
    .tpl_hamburger svg {cursor: pointer;  height: 50px;  transform: translate3d(0px, 0px, 0px);  width: 80px;}
    svg:not(:root) {overflow: hidden;}
    .tpl_hamburger path.top, .tpl_hamburger path.bottom {
        stroke-dasharray: 240px, 950px;
    }
    .tpl_hamburger path {
        fill: none; stroke: #ffffff; stroke-dashoffset: 0; stroke-linecap: round; stroke-width: 40px;
        transition: stroke-dashoffset 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25) 0s, stroke-dasharray 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25) 0s;
    }
    .tpl_hamburger path.middle {stroke-dasharray: 240px, 240px;}
    .tpl_hamburger path {
        fill: none; stroke:  #ffffff; stroke-dashoffset: 0; stroke-linecap: round; stroke-width: 40px;
        transition: stroke-dashoffset 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25) 0s, stroke-dasharray 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25) 0s;
    }
    
    .tpl_hamburger.active path.top, .tpl_hamburger.active path.bottom {
        stroke-dashoffset: -650px;
    }
    .tpl_hamburger path.top, .tpl_hamburger path.bottom {
        stroke-dasharray: 240px, 950px;
    }
    .tpl_hamburger.active path.middle {
        stroke-dasharray: 1px, 220px;
        stroke-dashoffset: -115px;
    }
    
    .js_menu {display: none;}
    .js_menu.active {display: block;}